<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BlazeDemo">
    <test verbose="2" preserve-order="true" name="C:/Users/Localhost/IdeaProjects/CapstoneProject">
        <classes>
            <class name="BlazeDemoTests"/>
        </classes>
    </test>
</suite>